*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/shelf
.idea/indexLayout.xml
.idea/deploymentTargetSelector.xml
.idea/deploymentTargetDropDown.xml
build/
.DS_Store
/captures
.externalNativeBuild
.cxx
/google-services.json
kernel.bin
*.bin
*.lock
.kotlin
app/build